* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

header {
    /* height: 100px; */
    background-color: rgb(38, 69, 139);
    height: auto;
}

.header__navbar {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /*tu dong can giua khoi nay trong khoi khac*/
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.header__navbar-list {
    list-style-type: none;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.avatar,
.about {
    height: auto;
    background-color: aquamarine;
    padding: 50px 0;
}

.avatar h1,
.about h1.contact h1 {
    font-size: 30px;
    color: white;
    margin: 20px 20px;
}

.icon-star1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.avatar p {
    font-size: 20px;
    padding-bottom: 100px;
    color: white;
}

.portfolio {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 50px;
}

.portfolio h1 {
    font-size: 30px;
    color: black;
    margin: 20px 20px;
    padding-top: 40px;
}

.icon-star2 {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.portfolio-image {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;

}

.item img {
    width: 100%;
    border-radius: 10px;
}

.paragraph {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    text-align: left;
    color: white;
    line-height: 30px;
}

.dowload {
    text-align: center;
    margin: 50px 30px;
    color: white;
}

.dowload i {
    font-size: 30px;
    margin-right: 20px;
}

.dowload span {
    width: fit-content;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 10px;
}

.contact {
    height: auto;
    width: 1200px;
    margin: 20px 20px;
    padding: 20px 20px;
    margin: 0 auto;
}

/* form{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
} */

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 900px;
    height: 30px;
    padding: 20px 0;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid grey;
    outline:0;
    
}
input::placeholder,textarea::placeholder{
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 900px;
    height: 100px;
    border: none;
    border-bottom: 1px solid grey;
    outline:0;
    margin-bottom: 40px;
}
.button{
    text-align: left;
}
button{
    display: inline-block;
    width: fit-content;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: aqua;
    margin-left: 120px;
}

.contact2{
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(27, 100, 169);
    color: white;
    padding-top: 50px;
}
.contact2-item1 h3,.contact2-item2 h3,.contact2-item3 h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact2-item1 p,.contact2-item2 p,.contact2-item3 p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact2-item3 p span{
    color: rgb(9, 45, 45);
}